--
-- PostgreSQL database dump
--

-- Dumped from database version 15.1
-- Dumped by pg_dump version 15.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: musicplatform_albums; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.musicplatform_albums (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    artist_id bigint NOT NULL
);


ALTER TABLE public.musicplatform_albums OWNER TO postgres;

--
-- Name: musicplatform_albums_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.musicplatform_albums ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.musicplatform_albums_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: musicplatform_artists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.musicplatform_artists (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    country_id bigint NOT NULL
);


ALTER TABLE public.musicplatform_artists OWNER TO postgres;

--
-- Name: musicplatform_artists_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.musicplatform_artists ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.musicplatform_artists_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: musicplatform_countries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.musicplatform_countries (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.musicplatform_countries OWNER TO postgres;

--
-- Name: musicplatform_countries_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.musicplatform_countries ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.musicplatform_countries_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: musicplatform_genres; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.musicplatform_genres (
    id bigint NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.musicplatform_genres OWNER TO postgres;

--
-- Name: musicplatform_genres_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.musicplatform_genres ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.musicplatform_genres_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: musicplatform_playlists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.musicplatform_playlists (
    id bigint NOT NULL,
    name character varying(100) NOT NULL
);


ALTER TABLE public.musicplatform_playlists OWNER TO postgres;

--
-- Name: musicplatform_playlists_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.musicplatform_playlists ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.musicplatform_playlists_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: musicplatform_songs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.musicplatform_songs (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    date date NOT NULL,
    duration character varying(20) NOT NULL,
    album_id bigint,
    genre_id bigint
);


ALTER TABLE public.musicplatform_songs OWNER TO postgres;

--
-- Name: musicplatform_songs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.musicplatform_songs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.musicplatform_songs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: musicplatform_songsartists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.musicplatform_songsartists (
    id bigint NOT NULL,
    artist_id bigint NOT NULL,
    song_id bigint NOT NULL
);


ALTER TABLE public.musicplatform_songsartists OWNER TO postgres;

--
-- Name: musicplatform_songsartists_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.musicplatform_songsartists ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.musicplatform_songsartists_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: musicplatform_songsplaylists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.musicplatform_songsplaylists (
    id bigint NOT NULL,
    playlist_id bigint NOT NULL,
    song_id bigint NOT NULL
);


ALTER TABLE public.musicplatform_songsplaylists OWNER TO postgres;

--
-- Name: musicplatform_songsplaylists_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.musicplatform_songsplaylists ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.musicplatform_songsplaylists_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
2	pbkdf2_sha256$390000$qYeIClTVhNaRRZbc2glBmH$y+Omp8kah8aOyvRjhyQvmj87SRComcsyDlzalRxfdWw=	2023-04-01 16:49:47.552327+00	f	user1			user1@gmail.com	f	t	2023-03-19 12:55:55.271705+00
1	pbkdf2_sha256$390000$wIaiiMksHyzwWJl0eZWAiw$y8sn8V/f5dY0hny9jWsSI7JJ1Z08WpDXvsW4yCesdgI=	2023-04-01 16:50:13.815051+00	t	Admin			admin@gmail.com	t	t	2023-02-08 17:34:02.435593+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	musicplatform	artists
8	musicplatform	songsartists
9	musicplatform	playlists
10	musicplatform	songs
11	musicplatform	albums
12	musicplatform	genres
13	musicplatform	countries
14	musicplatform	songsplaylists
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: musicplatform_albums; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.musicplatform_albums (id, name, artist_id) FROM stdin;
1	Mr. Morale & the Big Steppers	1
2	Rock n' Soul Part 1	11
3	The Dutchess	12
4	Touch	13
5	Eye Candy	14
6	Saints & Sinners	15
7	Jane Child	16
8	Loud	17
9	Modjo	18
10	The Rhythm of the Night	19
11	Until I Found You	20
\.


--
-- Data for Name: musicplatform_artists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.musicplatform_artists (id, name, country_id) FROM stdin;
1	Kendrick Lamar	1
2	Blxst	1
3	Amanda Reifer	2
4	Taylour Paige	1
5	Summer Walker	1
6	Ghostface Killah	1
7	Kodak Black	1
8	Baby Keem	1
9	Sam Dew	1
10	Tanna Leone	1
11	Hall & Oates	1
12	Fergie	1
13	Amerie	1
14	Mis-Teeq	3
15	All Saints	4
16	Jane Child	5
17	Rihanna	2
18	Modjo	6
19	Corona	7
20	Stephen Sanchez	1
21	Em Beihold	1
\.


--
-- Data for Name: musicplatform_countries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.musicplatform_countries (id, name) FROM stdin;
1	USA
2	Barbados
3	UK
4	England
5	Canada
6	France
7	Italy
\.


--
-- Data for Name: musicplatform_genres; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.musicplatform_genres (id, name) FROM stdin;
1	Hip-hop/rap
2	Pop rock
3	R&B
4	Pop
5	French house
6	Reggae
\.


--
-- Data for Name: musicplatform_playlists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.musicplatform_playlists (id, name) FROM stdin;
1	Non-Stop-Pop FM Best Songs
\.


--
-- Data for Name: musicplatform_songs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: musicplatform_songsartists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.musicplatform_songsartists (id, artist_id, song_id) FROM stdin;
1	1	1
2	2	4
3	1	4
4	3	4
5	1	2
6	1	3
7	1	5
8	1	6
9	1	7
10	1	8
11	4	8
12	1	9
13	5	9
14	6	9
15	1	10
16	1	11
17	1	19
18	7	19
19	1	12
20	1	13
21	8	13
22	9	13
23	1	14
24	1	15
25	10	15
26	1	16
27	1	17
28	1	18
29	11	20
30	12	21
31	13	22
32	14	23
33	15	24
34	16	25
35	17	26
36	18	27
37	19	28
38	21	29
39	20	29
\.


--
-- Data for Name: musicplatform_songsplaylists; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.musicplatform_songsplaylists (id, playlist_id, song_id) FROM stdin;
1	1	20
2	1	21
3	1	22
4	1	23
5	1	24
6	1	25
7	1	26
8	1	27
9	1	28
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 56, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 2, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 130, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 14, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 21, true);


--
-- Name: musicplatform_albums_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.musicplatform_albums_id_seq', 11, true);


--
-- Name: musicplatform_artists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.musicplatform_artists_id_seq', 21, true);


--
-- Name: musicplatform_countries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.musicplatform_countries_id_seq', 7, true);


--
-- Name: musicplatform_genres_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.musicplatform_genres_id_seq', 6, true);


--
-- Name: musicplatform_playlists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.musicplatform_playlists_id_seq', 1, true);


--
-- Name: musicplatform_songs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.musicplatform_songs_id_seq', 46, true);


--
-- Name: musicplatform_songsartists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.musicplatform_songsartists_id_seq', 39, true);


--
-- Name: musicplatform_songsplaylists_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.musicplatform_songsplaylists_id_seq', 9, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: musicplatform_albums musicplatform_albums_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_albums
    ADD CONSTRAINT musicplatform_albums_pkey PRIMARY KEY (id);


--
-- Name: musicplatform_artists musicplatform_artists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_artists
    ADD CONSTRAINT musicplatform_artists_pkey PRIMARY KEY (id);


--
-- Name: musicplatform_countries musicplatform_countries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_countries
    ADD CONSTRAINT musicplatform_countries_pkey PRIMARY KEY (id);


--
-- Name: musicplatform_genres musicplatform_genres_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_genres
    ADD CONSTRAINT musicplatform_genres_pkey PRIMARY KEY (id);


--
-- Name: musicplatform_playlists musicplatform_playlists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_playlists
    ADD CONSTRAINT musicplatform_playlists_pkey PRIMARY KEY (id);


--
-- Name: musicplatform_songs musicplatform_songs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_songs
    ADD CONSTRAINT musicplatform_songs_pkey PRIMARY KEY (id);


--
-- Name: musicplatform_songsartists musicplatform_songsartists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_songsartists
    ADD CONSTRAINT musicplatform_songsartists_pkey PRIMARY KEY (id);


--
-- Name: musicplatform_songsplaylists musicplatform_songsplaylists_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_songsplaylists
    ADD CONSTRAINT musicplatform_songsplaylists_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: musicplatform_albums_artist_id_da4c3cb3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX musicplatform_albums_artist_id_da4c3cb3 ON public.musicplatform_albums USING btree (artist_id);


--
-- Name: musicplatform_artists_country_id_a603ee33; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX musicplatform_artists_country_id_a603ee33 ON public.musicplatform_artists USING btree (country_id);


--
-- Name: musicplatform_songs_album_id_80526336; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX musicplatform_songs_album_id_80526336 ON public.musicplatform_songs USING btree (album_id);


--
-- Name: musicplatform_songs_genre_id_ed908ecc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX musicplatform_songs_genre_id_ed908ecc ON public.musicplatform_songs USING btree (genre_id);


--
-- Name: musicplatform_songsartists_artist_id_8a8398c7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX musicplatform_songsartists_artist_id_8a8398c7 ON public.musicplatform_songsartists USING btree (artist_id);


--
-- Name: musicplatform_songsartists_song_id_c846f466; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX musicplatform_songsartists_song_id_c846f466 ON public.musicplatform_songsartists USING btree (song_id);


--
-- Name: musicplatform_songsplaylists_playlist_id_5a5cf890; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX musicplatform_songsplaylists_playlist_id_5a5cf890 ON public.musicplatform_songsplaylists USING btree (playlist_id);


--
-- Name: musicplatform_songsplaylists_song_id_59050d2d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX musicplatform_songsplaylists_song_id_59050d2d ON public.musicplatform_songsplaylists USING btree (song_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: musicplatform_albums musicplatform_albums_artist_id_da4c3cb3_fk_musicplat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_albums
    ADD CONSTRAINT musicplatform_albums_artist_id_da4c3cb3_fk_musicplat FOREIGN KEY (artist_id) REFERENCES public.musicplatform_artists(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: musicplatform_artists musicplatform_artist_country_id_a603ee33_fk_musicplat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_artists
    ADD CONSTRAINT musicplatform_artist_country_id_a603ee33_fk_musicplat FOREIGN KEY (country_id) REFERENCES public.musicplatform_countries(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: musicplatform_songs musicplatform_songs_album_id_80526336_fk_musicplat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_songs
    ADD CONSTRAINT musicplatform_songs_album_id_80526336_fk_musicplat FOREIGN KEY (album_id) REFERENCES public.musicplatform_albums(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: musicplatform_songs musicplatform_songs_genre_id_ed908ecc_fk_musicplat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_songs
    ADD CONSTRAINT musicplatform_songs_genre_id_ed908ecc_fk_musicplat FOREIGN KEY (genre_id) REFERENCES public.musicplatform_genres(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: musicplatform_songsartists musicplatform_songsa_artist_id_8a8398c7_fk_musicplat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_songsartists
    ADD CONSTRAINT musicplatform_songsa_artist_id_8a8398c7_fk_musicplat FOREIGN KEY (artist_id) REFERENCES public.musicplatform_artists(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: musicplatform_songsartists musicplatform_songsa_song_id_c846f466_fk_musicplat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_songsartists
    ADD CONSTRAINT musicplatform_songsa_song_id_c846f466_fk_musicplat FOREIGN KEY (song_id) REFERENCES public.musicplatform_songs(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: musicplatform_songsplaylists musicplatform_songsp_playlist_id_5a5cf890_fk_musicplat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_songsplaylists
    ADD CONSTRAINT musicplatform_songsp_playlist_id_5a5cf890_fk_musicplat FOREIGN KEY (playlist_id) REFERENCES public.musicplatform_playlists(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: musicplatform_songsplaylists musicplatform_songsp_song_id_59050d2d_fk_musicplat; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.musicplatform_songsplaylists
    ADD CONSTRAINT musicplatform_songsp_song_id_59050d2d_fk_musicplat FOREIGN KEY (song_id) REFERENCES public.musicplatform_songs(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

