{% extends 'musicplatform/base.html' %}

{% block content %}
    <ul>
        <div class="h2-center"><h2>{{artist.name}}</h2></div>
        <hr>
        {% if album_list %}
            <p class="announcement">Albums:</p>
            <hr>
        {% endif %}
        {% for album in album_list %}
            <div class="album_container">
                <h3>{{ album.name }}</h3>
                <a href="{{ album.get_absolute_url }}">VIEW SONGS</a>
            </div>
        {% endfor %}
        {% if song_list %}
            {% if album_list %}
                <hr>
            {% endif %}
            <p class="announcement">Songs:</p>
            <hr>
        {% endif %}
        {% for song in song_list %}
            <div class="song_container playlist-song_container">
                <div class="playbutton">
                    <p>▶</p>
                </div>
                <h3>{{ song.name }}</h3>
                <div class="songduration songduration-smaller">
                    {{ song.duration }}
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}