{% extends 'musicplatform/base.html' %}

{% block content %}
    <ul>
        <h2>{{ playlist.name }}</h2>
        {% for s in songs %}
            <div class="song_container playlist-song_container">
                <div class="playbutton">
                    <p>▶</p>
                </div>
                <h3>{{ s.song.name }}</h3>
                <div class="songduration songduration-smaller">
                    {{ s.song.duration }}
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}