{% extends 'musicplatform/base.html' %}

{% block content %}
    <ul>
      {% for p in playlist %}
          <h2>{{ p.name }}</h2>
      {% endfor %}
    {% for s in songs %}
        <div class="song_container playlist-song_container">
            <div class="playbutton">
                <p>▶</p>
            </div>
            <h3>{{ s.name }}</h3>
            <div class="songduration songduration-smaller">
                {{ s.duration }}
            </div>
        </div>
    {% endfor %}
    </ul>
{% endblock %}